extends ./templates/item-page__img.jade

block title
  title Felt Catbears - The Catbears

block main-img
    iframe.video(src='https://www.youtube.com/embed/C-VCCDoCjdc?rel=0&;showinfo=0', frameborder='0', allowfullscreen='')

block gallery-items
  - var pageName = 'Felt-Catbears'
  - var numberOfPages = 3
  - for (var i = 1; i <= +numberOfPages; i++)
      a(href='../pdf/The-Catbears_#{pageName}.pdf#page=#{i}' target="_blank" onClick = "ga('send', 'event', 'Button', 'Click', 'PP-Gallery-Thumb__#{pageName}'); lightboxInit('subscribe')") 
        li.gallery__item.gallery__item--1 
          img(src='../img/pages/#{pageName}/page_#{i}.png', alt='Activity Page by The Catbears')


block page-item__title
  | Make Felt Catbears 

block page-item__description--p
  | Print these 3 instruction pages to make Catbears from Felt!  

//- block page-item__info
  .page-item__info--list
    ul.bullet Here's what you'll need:
      li.bullet A pair of scissors
      li.bullet Colorful felt sheets

block page-item__cta--micro-text                  
  p PDF file ・ 500KB ・ 3 Printable Pages

block page-item__cta
  - var pageName = 'Felt-Catbears'
  - var numberOfPages = 3
  a.btn.btn__icon.btn__large.btn__primary(href='../pdf/The-Catbears_#{pageName}.pdf' target="_blank" onClick = "ga('send', 'event', 'Button', 'Click', 'FREE__Catbears-Stickers'); lightboxInit('subscribe')") PRINT (#{numberOfPages})
    .btn__icon--printer



block page-description

  .page-description
    h1 Description
    .columns
      .left-column
        p Here are 3 Catbears you can make using felt, A fox, a duck and a panda bear. 
        | 
        br
        strong 
          h2 To make a felt Catbear:
        //- .howitworks
           img(src="../img/hp/how-it-works.png", alt="How it works - by The Catbears")  
        ol
          li Print out the pages
          li Cut around the shapes
          li Glue the shapes on colorful felt sheets
          li Cut the shapes again this time exactly on the lines.
          li Assemble and glue the parts together to create your felt Catbear.
        p
          | This is a really fun activity that focuses on the Cutting skill. your kids will love creating a felt Catbear by themselves.
      .right-column
          img(src='../img/description-imgs/The-Catbears_Felt-Catbears.png', alt='Felt Catbears by The Catbears')

//- block share-banner__text
//-   //- | Share your book and the ending you've made with the Catbears community on Instagram:     
//- block share-banner__cta  
//-   //- a.marker__blue(href="https://www.instagram.com/explore/tags/atinylittleduckgotinreallybigtrouble/" target="_blank") #aTinyLittleDuckGotInReallyBigTrouble    
