extends ./templates/item-page__img.jade

block title
  title Finger Puppets - The Catbears


block main-img
  - var pageName = 'Finger-Puppets'
  a(href='../pdf/The-Catbears_#{pageName}' target="_blank" onClick = "ga('send', 'event', 'Button', 'Click', 'FREE__IMG__#{pageName}'); lightboxInit('subscribe')")
    .img-fit-container
      img(src='../img/pages/#{pageName}.png', alt='#{pageName} by The Catbears')

block gallery-items
  - var pageName = 'Finger-Puppets'
  - var numberOfPages = 2
  - for (var i = 1; i <= +numberOfPages; i++)
      a(href='../pdf/The-Catbears_#{pageName}.pdf#page=#{i}' target="_blank" onClick = "ga('send', 'event', 'Button', 'Click', 'PP-Gallery-Thumb__#{pageName}'); lightboxInit('subscribe')") 
        li.gallery__item.gallery__item--1 
          img(src='../img/pages/#{pageName}/page_#{i}.png', alt='Activity Page by The Catbears')

block page-item__title
  | Finger Puppets 

block page-item__description--p
  | Print these 2 instruction pages to make Finger Catbear Puppets!  

//- block page-item__info
  .page-item__info--list
    ul.bullet Here's what you'll need:
      li.bullet Coloring materials
      li.bullet A pair of scissors
      li.bullet Glue
      li.bullet Thin Cardboard (cereal box)

block page-item__cta--micro-text                  
  p PDF file ・ 35KB ・ 2 Printable Pages

block page-item__cta
  - var pageName = 'Finger-Puppets'
  - var numberOfPages = 2
  a.btn.btn__icon.btn__large.btn__primary(href='../pdf/The-Catbears_#{pageName}.pdf' target="_blank" onClick = "ga('send', 'event', 'Button', 'Click', 'FREE__Catbears-Stickers'); lightboxInit('subscribe')") PRINT (#{numberOfPages})
    .btn__icon--printer

block page-description
  .page-description
    h1 Instructions
    .columns
      .left-column
        p Show us your groovy dance moves with finger Catbear puppets! 
        | 
        br
        strong 
          h2 To make Finger Catbear Puppets:
        ol
          li Print and color the pages
          li Use glue to paste it on thin cardboard (like cereal box)
          li Cut the shapes, glue the parts together
          li Cut 2 finger holes in each puppet
          li Place your fingers inside the holes
          li Put on some music and start dancing!
      //- .right-column      
      //-    iframe.video(src='https://www.youtube.com/embed/C-VCCDoCjdc?rel=0&;showinfo=0', frameborder='0', allowfullscreen='')
      //-    img(src='../img/description-imgs/description__felt_001.png', alt='Felt Catbears by The Catbears')

//- block share-banner__text
//-   //- | Share your book and the ending you've made with the Catbears community on Instagram:     
//- block share-banner__cta  
//-   //- a.marker__blue(href="https://www.instagram.com/explore/tags/atinylittleduckgotinreallybigtrouble/" target="_blank") #aTinyLittleDuckGotInReallyBigTrouble    
