//- greeting-card.jade

extends ./templates/item-page__img.jade

block title
  title DIY Greeting Card - The Catbears

block main-img
  iframe.video(src='https://www.youtube.com/embed/zL8m4A6l8zI?rel=0&;showinfo=0', frameborder='0', allowfullscreen='')

block gallery-items
  - var pageName = 'Greeting-Card'
  - var numberOfPages = 2
  - for (var i = 1; i <= +numberOfPages; i++)
      a(href='../pdf/The-Catbears_#{pageName}.pdf#page=#{i}' target="_blank" onClick = "ga('send', 'event', 'Button', 'Click', 'PP-Gallery-Thumb__#{pageName}'); lightboxInit('subscribe')") 
        li.gallery__item.gallery__item--1 
          img(src='../img/pages/#{pageName}/page_#{i}.png', alt='Activity Page by The Catbears')

block page-item__title
  | DIY Greeting Card

block page-item__description--p
  | Family is a warm hug! Make your love ones happy with this cute DIY greeting card.

//- block page-item__info
//-   .page-item__info--list
//-     ul.bullet Here's what you'll need:
//-       li.bullet Colorful sheets of paper
//-       li.bullet A pair of scissors
//-       li.bullet Glue

block page-item__cta--micro-text                  
  p PDF file ・ 620KB ・ 4 Printable Page

block page-item__cta
  - var pageName = 'Greeting-Card'
  - var numberOfPages = 2
  a.btn.btn__icon.btn__large.btn__primary(href='../pdf/The-Catbears_#{pageName}.pdf' target="_blank" onClick = "ga('send', 'event', 'Button', 'Click', 'FREE__Catbears-Stickers'); lightboxInit('subscribe')") PRINT (#{numberOfPages})
    .btn__icon--printer

block page-description
  .page-description
    h1 Instructions
      .columns
        .left-column
          p 
            | This is a wonderful activity for 
            strong parents and kids 
            | to create together.  
            | 
            br
            br
            | Think about the person you're making this card for. what's their favorite colors? What can you write that will make them most happy? 😗
            
          //- |
          //- br
          //- |

          //- strong 
            //- h2 To make a maker kit:
          //- ol
            //- li Print the 4 activity pages
            //- li Cut the shapes of 
            //- li Cut the boat, duck and fish
            //- li Fold the lines 90 degrees
            //- li Use glue to stick ducky to the boat (from the inside of the boat)
            //- li Your popup is complete!

        .right-column      
           img(src='../img/description-imgs/greeting-card.png', alt='Greeting-Card by The Catbears') 
            
//- $1.99 FREE - BUTTON TEST
//- block page-item__cta
//-   a.btn.btn__large.btn__primary.btn__payed(onClick = "ga('send', 'event', 'Button', 'Click', 'PAYED__5-coloring-pages') ; lightboxInit()") Buy $1.99
